<p>register works!</p>
<div>
    <label for="email">Email</label><br>
    <input type="text" class="form-control" [(ngModel)]="user.email"><br>
    <label for="password">Password</label><br>
    <input type="password" class="form-control" [(ngModel)]="user.password"><br>

    <button class="btn btn-primary mb-2" (click)="save()">Save</button>
    <button class="btn btn-danger mb-2" (click)="refresh()">Cancel</button>

</div>